@page
@model RandomDeckGenerator.Pages.Register

@{
}

<div>
    <h1>Register as a new user here</h1>
    <div>
         @using (Html.BeginForm())
            {
                <label for="username">Username</label>
                @Html.TextBoxFor(m => m.credentials.Username)
                <label for="password">Password</label>
                @Html.PasswordFor(m => m.credentials.Password)
                <input type="Submit" class="button"/>
                @Html.ValidationSummary(false);
            }
    </div>
</div>