table{
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

td, th {
    text-align: center;
    padding: 8px;
}
td {
     border-right: 1px solid #f8f8f8;
     font-size: 12px;
 }

th {
    color: #ffffff;
    background: #4FC3A1;
}

th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

td
{
    background: black;
    color: black;
}
td:nth-child(5n+1) {
    background: white;
}

td:hover
{
    color:black;
    background: lightgrey;
}








